
@{
}
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
<br/>
<div class="container-fluid">
<div class="btn-group">
        <h1>@TempData["Message"]</h1>
    </div>
</div>  